@import "./variables";

//BREAKPOINTS
@mixin breakpoint($point) {
	@if $point == x-phone {
		@media (max-width: 576px) {
			@content;
		}
	} @else if $point == phone {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $point == tablet {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point == desktop {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point == large-desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point == larger-desktop {
		@media (min-width: 1400px) {
			@content;
		}
	}
}

//BUTTON
@mixin back-button {
	width: 40px;
	height: 40px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: $back-button-background;
	color: $arrow-color;
	padding: 10px;
  border: none;
	border-radius: 50%;
  text-align: center; 
	font-size: 2.5rem;
	transition: $transition;
	@include breakpoint(tablet){
		width: 50px;
		height: 50px;
		font-size: 2.8rem;
	}
	@include breakpoint(desktop){
		width: 60px;
		height: 60px;
		font-size: 3.4rem;
	}

}

@mixin back-button-hover{
	background-color: $back-button-background-hover;
	.icon{
		color: $back-button-arrow-color-hover;
	}
}
