//FONT
$primary-font: "Roboto", sans-serif;
$secondary-font: "Poppins", sans-serif;


//COLOR VARIABLES (ONLY FOR CHANGE, NOT FOR USE IN MODULES
$primary-color: rgb(128, 243, 128);
$secondary-color: yellow;


//VARIABLES FOR MODULES
$location-background: $primary-color;

//TRANSITION
$transition: .6s;