@import "../../styles/variables";
@import "../../styles/mixins";

.EventsButton {
	padding: 1em;
	margin-top: 1em;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	color: $primary-color;
	cursor: pointer;
	transition: $transition;
	&:hover {
		color: $secondary-color;
		@include back-button-hover;
	}
}
