@import "../../styles/variables";
@import "../../styles/mixins";

.btn-event{
  padding: 1em !important;
  color: $white-color !important;
  font-size: 1rem !important;
  letter-spacing: 2px;
  background-color: $primary-color !important;
  transition: $transition !important;
  &:hover{
    background-color: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
  }
}

.card{
  @include breakpoint(large-desktop){
    max-width: 800px;
  }
}